body {
 background: #FFF;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

.pt64 {
  padding-top: 64px !important;
}
.bg2 {
  background: #F7F7F7;
}
.colorGr {
  color: rgb(59,203,157);
}

.index-first {
  position: relative;
  background: url(../../images/index/Group\ 111.jpg) no-repeat center;
  min-height: 100vh;
  color:#FFF;
  .content {
    display: table;
    width: 100%;
    min-height:  73vh; // calc(100vh - 116px - 213px);
    padding-top: 80px;
    .i-title {
      font-size: 68px;
      line-height: 95px;
      color: #FFF;
      text-align: center;
    }

    .i-desc {
      text-align: center;
      font-size: 24px;
      line-height: 33px;
      color: #FFF;
    }
  }


}

.text-img-align {
  padding-top: 140px;
  padding-bottom: 76px;
  overflow: hidden;
  &::after,
  &::before {
    clear: both;
  }
  .text {
    float: left;
    width: 366px;
    .title {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 28px;
      line-height: 29px;
    }
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
  .img {
    max-width: 580px;
    max-height: 260px;
    float: right;
    img {
      max-width: 580px;
      max-height: 260px;
    }
  }
}

.content2 {
  position: relative;
  text-align: center;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 2px 14px;
  position: relative;
  bottom: -100px;
  z-index: 1;
  color: #333;
  padding: 0px;

  .i-row {
    height: 210px;
  }
  .i-col {
    width: 33.3%;
    float: left;
    margin-top: 56px;
    height: 100px;
    border-right: 1px solid #E5E5E5;
    .title {
      font-size: 20px;
      margin-bottom: 13px;
      margin-top: 10px;
    }
    .desc {
      font-size: 12px;
      width: 308px;
      text-align: center;
      margin: auto
    }
  }
  .i-col:last-child {
    border-right: 0px;
  }
  img {
    vertical-align: initial;
    margin-right: 9px;
  }
}

.img-text-align {
  overflow: hidden;
  padding-top: 140px;
  padding-bottom: 76px;
  &::after,
  &::before {
    clear: both;
  }
  .text {
    float: right;
    width: 366px;
    .title {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 28px;
      line-height: 29px;
    }
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
  .img {
    width: 578px;
    float: left;
  }
}

.cm-one-banner {
  padding-top: 48px;
  margin-bottom: 76px;
  .bimg {
    width: 100%;
  }
}
.bg009 {
  background: url(/images/index/9.jpg) no-repeat center;
  height: 500px;
}
.cm-text-banner {
  position: relative;
  .content2 {
    height: 500px;
    position: relative;
    top: 0;
    color: #FFF;
    background: rgba(249, 249, 249, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
    // width: 100%;
    display: table;
    table-layout: initial;
    .i-row {
      vertical-align: middle;
      display: table-cell;
      max-height: 368px;
      height: 340px;
    }
    .i-col {
      margin-top: 0px;
    }
  }

}

.card-list {
  .cl-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  .cl-desc {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 60px;
    text-align: center;
  }
  .thumbnail {
    border: 1px solid #E5E5E5;
    box-shadow: 0px 2px 8px -2px;;
    margin-bottom: 60px;
    .caption {
      height: 180px;
      padding: 0px;
    }
    img {
      // height: 192px; 
      width: 100%;
      display: block;
    }
  }
}


.card-list-2 {
  padding-top: 50px;
  .cl-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  .cl-desc {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 60px;
    text-align: center;
  }
  .thumbnail {
    border: 0px;
    // width: 200px;
    .caption{
      padding: 0px;
    }
    img {
      border-radius: 50%;
      // height: 192px; 
      width: 100%;
      display: block;
    }
    .t {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .d {
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
}



.content-form {
  overflow: hidden;
  position: fixed;
  bottom: -1px;
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px rgba(0, 60, 83, 0.2);
  z-index: 1000;
  display: none;
  text-align: center;
  line-height: 100px;
  // height: 100px;
  color: #FFF;
  background: #3bcb9d;
}
.content-form .form-group {
  margin-left: 10px;
}

.content-form .service {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 165px;
  height: 100%;
  padding-left: 30px;
  text-align: left;
  padding-top: 20px;
  background: rgb(24, 121, 27);
  cursor: pointer;
  transition: background .25s ease
}

.content-form .service:hover {
  background: #0fd6be
}

.content-form .service span {
  color: #fff;
  padding-left: 12px
}
.content-form .sbbtn {
  margin-left: 20px;
  height: 105px;
  border: 0px;
  border-radius: 0px;
  padding: 0 60px;
  font-size: 24px;
  background: #FEC300;
  color: #FFF;
}
label {
  font-weight: initial;
}
.content-form select {
  width: 176px;
}

@media (min-width: 100px){
  .content-form {    
    line-height: 24px;
  }
  .content-form .sbbtn {
    padding: 0 20px;
    height: 50px;
  }
  .content-form select {
    width: 100%;
  }
}

@media (min-width: 768px){
  .content-form {    
    line-height: 60px;
  }
  .content-form .sbbtn {
    padding: 0 20px;
    height: 50px;
  }
}
@media (min-width: 992px){
  .content-form .sbbtn {
    padding: 0 30px;
  }
}


.main.card-list-2 {
  .thumbnail {
    .caption .d{
      line-height: 18px;
    }
    img {
      width: 88px;
      margin-bottom: 30px;
    }
  }
}
.main_bg127 {
  background: url(/images/main/127.jpg) no-repeat center;
  height: 540px;
}

/*响应设计 小于1200px 显示 990px宽度 */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
